@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0 !important;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 80px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#222A35;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(225deg, rgb(1, 106, 112) 0%, rgb(0, 223, 162) 100%);
  border-radius: 6px;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: .5%;
  background: -webkit-linear-gradient(225deg, rgb(0, 223, 162) 0%, rgb(1, 106, 112) 100%);
  transform-origin: 0;
  border-radius: 6px;
  z-index: 10;
}
